$font-fam: "Montserrat";
$lightBlue: #309fe0bb;
$lightDesert: #ffeed2;
$desert: #ffc973;
$blue: #006bb9;

@mixin size($width, $height: unset) {
	width: $width;
	height: $height;
}

body {
	margin: 0;
	font-family: $font-fam;
	background: $lightDesert;
	overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
	width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(190, 190, 190);
}
